.trainersContainer {
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Corbel", sans-serif;
}

/* Trainers Section */
.trainersSection {
  margin-bottom: 80px;
}

.slider-container .slick-track {
  display: flex !important;
  gap: 20px !important;
}

.sectionHeader {
  text-align: center;
  margin-bottom: 60px;
}

.sectionHeader h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 56px;
  margin-bottom: 15px;
  color: #000;
}

.sectionHeader p {
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.6);
  max-width: 700px;
  margin: 0 auto;
}

.trainersGrid {
  display: flex;
  justify-content: space-between;
  max-width: 1086px;
  margin: 0 auto;
}

.trainerCard {
  position: relative;
  width: 322px;
  height: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.trainerImageContainer {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.trainerImage {
  width: 100%;
  height: 200px;
  border-radius: 100px 100px 100px 5px;
  object-fit: cover;
  object-position: center;
}

.trainerInfo {
  position: absolute;
  bottom: 0;
  width: 95%;
  height: 233px;

  border-radius: 100px 100px 10px 10px;
  padding-top: 105px;
  box-shadow: 4px 4px 15px 2px rgba(0, 0, 0, 0.1);
  background: rgba(245, 245, 245, 1);
}

.trainerInfo h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 5px;
  margin: 0 auto;
  width: 75%;
}

.trainerInfo h4 {
  font-size: 12px;
  line-height: 16px;
  color: #566faf;

  margin: 0 auto;
  margin-bottom: 14px;
  width: 75%;
}

.trainerInfo p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  width: 75%;
  margin: 0 auto;
}

/* Testimonials Section */
.testimonialsSection {
  margin-bottom: 80px;
  text-align: center;
}

.testimonialsSection h2 {
  font-size: 46px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 16px;
}

.testimonialsSection p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  max-width: 550px;
  margin: 0 auto 40px;
  line-height: 1.6;
}

.testimonialSlider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

  margin: 0 auto;
}

.navArrow {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #dedede;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.navArrow:hover {
  background: #f0f0f0;
}

.navArrow svg {
  color: #2c4b9b;
}

.testimonialCardsContainer {
  display: flex;
  gap: 40px;

  width: 100%;
}

.testimonialCard {
  position: relative;
  width: 100%;
}

.testimonialCard.active {
  display: flex;
  align-items: center;
}

.testimonialImageContainer {
  position: absolute;
  z-index: 2;
  width: 120px;
  height: 120px;
  left: 30px;
  top: 40px;
  border-radius: 50px 5px 50px 5px;
  overflow: hidden;
  border: 1.5px solid #fff;
}

.testimonialImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px 5px 50px 5px;
}

.testimonialContent {
  position: relative;
  width: 100%;
  margin-left: 100px;
}

.quoteIcon {
  position: absolute;
  top: 20px;
  right: 20px;
}

.testimonialText {
  background-color: white;
  border-radius: 100px 10px 100px 10px;
  padding: 40px 40px 40px 80px;
  box-shadow: 4px 4px 12px 5px rgba(0, 0, 0, 0.05);
  text-align: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimonialText p {
  font-size: 18px;
  line-height: 24px;
  color: #000;
  margin-bottom: 15px;
  text-align: left;
}

.testimonialFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testimonialName {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
}

.testimonialDate {
  color: rgba(0, 0, 0, 0.6);
  font-size: 18px;
}

/* Responsive styles */
@media (max-width: 1100px) {
  .trainersGrid {
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px 30px;
  }
}

@media (max-width: 992px) {
  .testimonialText {
    width: 90%;
    padding: 40px 40px 40px 80px;
  }
}

@media (max-width: 768px) {
  .sectionHeader h2 {
    font-size: 30px;
    line-height: 40px;
  }

  .sectionHeader p {
    font-size: 18px;
    line-height: 26px;
  }

  .testimonialsSection h2 {
    font-size: 28px;
  }

  .testimonialsSection p,
  .contactSection p {
    font-size: 16px;
  }

  .testimonialText {
    padding: 12px 16px 12px 36px;
  }

  .testimonialName {
    font-size: 20px;
    line-height: 28px;
  }

  .testimonialDate {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .trainersContainer {
    padding: 0 15px;
  }

  .sectionHeader h2,
  .testimonialsSection h2,
  .contactSection h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .sectionHeader p,
  .testimonialsSection p,
  .contactSection p {
    font-size: 15px;
    line-height: 22px;
  }

  .testimonialCardsContainer {
    display: flex;
    gap: 10px;

    width: 100%;
  }

  .testimonialImageContainer {
    width: 70px;
    height: 70px;
    top: 20px;
    left: 5px;
    border-radius: 15px 2px;
  }

  .testimonialImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 2px;
  }

  .testimonialContent {
    margin-left: 60px;
  }

  .quoteIcon {
    display: none;
  }

  .testimonialText {
    padding: 40px 10px 10px 40px;
    width: 100%;
    border-radius: 60px 10px 60px 10px;
  }

  .testimonialText p {
    font-size: 16px;
    line-height: 20px;
  }

  .testimonialName {
    font-size: 16px;
    line-height: 20px;
  }

  .testimonialDate {
    font-size: 14px;
  }

  .navArrow {
    width: 30px;
    height: 30px;
  }
}
