* {
    font-family: "corbel", sans-serif;
}

:root {
    --Color: rgba(0, 0, 0, 1);
    --testColor: rgba(86, 111, 175, 1);
    --gray-700: #374151;
    --gray-800: #1f2937;
}

.testSection {
    width: 100vw;
    height: 100vh;
   
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: -2;

    .titleAndTest {
        width: 496px;
        height: 355px;
         margin: 170px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        position: relative;

        .title {

            p {
                font-size: 46px;
                font-weight: 700;
                line-height: 56px;
                letter-spacing: 0px;
                color: var(--Color);
                margin-top: 10px;
                position: absolute;
                z-index: 3;
            }

            span {
                width: 175px;
                height: 64px;
                font-size: 46px;
                font-weight: 700;
                line-height: 56px;
                letter-spacing: 0px;
                text-align: center;
                padding: 0 20px;
                border-radius: 25px;
                background-color: var(--testColor);
                position: relative;
                z-index: -1;
                margin-top: 115px;
                display: inline-block;
                transform: rotate(-15deg);
            }

            .pTitle {
                font-weight: 700;
                line-height: 56px;
                letter-spacing: 0px;
                position: relative;
                z-index: -1;
                display: inline-block;
            }



        }

        .description p {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            letter-spacing: 0px;
            color: var(--gray-700);
            position: relative;
            margin-top: 200px;
        }
    }

    .imageContainer {
        width: 643px;
        position: relative;
        z-index: -10;

        .image {
            width: 520px;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 528px;
            height: 542px;
            border-radius: 50px;
            z-index: -9;

            img {
                width: 100%;
                position: relative;
                max-width: 100%;
                height: auto;
                object-fit: contain;
                z-index: -7;
            }
        }

        .testTextContainer {
            position: relative;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            z-index: -5;
            right: 200px;

            .testText {
                position: absolute;
                top: 350px;
                right: 200px;
                text-align: center;
                font-size: 18px;
                line-height: 24px;
                color: rgba(0, 0, 0, 1);
                border: 1px solid rgba(208, 208, 208, 0.55);
                padding: 30px 40px;
                backdrop-filter: blur(8px);
                border-radius: 40px;
                background-color: rgba(255, 255, 255, 0.5);
                width: fit-content;
                max-width: 90%;
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
                z-index: 99;
            }
        }
    }


}