.ScrumModule {
          display: flex;
          flex-direction: column;
          width: 100%;
          position: relative;
}

.moduleWrapper {
          width: 100%;
          padding: 16px;
          border-radius: 12px;
}

.progressBar {
          position: relative;
          width: 100%;
          border-radius: 4px;
          margin-bottom: 16px;
          overflow: hidden;
          padding-top: 40px;
}

.progressFill {
          position: absolute;
          top: 0;
          left: 0;
          height: 8px;
          background: rgba(44, 75, 155, 1);
          border-radius: 4px;
          transition: width 0.3s ease;
}

.trainerInfo {
          display: flex;
          flex-direction: row;
          margin-bottom: 40px;
          align-items: center;
          justify-content: space-between;
          flex-wrap: nowrap;
          width: 100%;
          gap: 12px;
}

.trainerInfo div {
          display: flex;
          flex-direction: row;
          align-items: center;
          flex-wrap: nowrap;
}

.trainerImage {
          width: 86px;
          height: 86px;
          object-fit: cover;
          border-radius: 50px;
          flex-shrink: 0;
          margin-right: 16px;
}

.trainerName,
.trainerDate,
.trainerDuration {
          flex: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: rgba(0, 0, 0, 0.6);
          font-weight: 400;
}

.trainerName {
          font-size: 30px;
          font-weight: 700;
          line-height: 36px;
          color: rgba(86, 111, 175, 1);
          margin-right: 28px;
}

.trainerDate {
          font-size: 30px;
          line-height: 36px;
}

.trainerDuration {
          background-image: url("../../assets/icons/oclock.svg");
          background-position: center left;
          background-size: 48.5px 46.4px;
          background-repeat: no-repeat;
          font-size: 29.52px;
          line-height: 42.17px;
          padding: 2px 0 2px 83px;
}

.favoriteBtn {
          border: none;
          outline: none;
          cursor: pointer;
          width: 86px;
          height: 86px;
          background-color: inherit;
          padding: 0;
}

.favorite {
          width: 86px;
          width: 86px;
          flex-shrink: 0;
}