.signUp,
.signUp * {
  box-sizing: border-box;
}

.signUp {
    width: 100%;
    min-height: 100vh;
    background-color: #FBF9F7;
    overflow: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;

    .form {
        width: 50%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;

        .inputFields{
          display: flex;
          flex-direction: column;
          gap: 10px;
        }

        h1 {
            font-size: 46px;
            font-weight: 700;
            line-height: 56px;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 0.87);
        }
    }

    .forgotPassword {
        display: flex;
        flex-direction: row;
        justify-content: end;

        .forgotPasswordLink {
            color: #3f51b5;
            font-size: 14px;
            text-decoration: none;
            margin-top: 10px;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
        }

    }

    .rememberMeContainer {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10px;

        .checkboxImg {
            width: 23px;
            height: 23px;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .rememberMeTitle {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 0.6);

        }
    }


    .submitButtonAndLoginLink {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;

        .loginLinkContainer {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            gap: 10px;
        }

        .loginLinkContainer span {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 0px;
            color: rgba(0, 0, 0, 0.38);

        }

        .loginLink {
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            letter-spacing: 0px;
            color: rgba(86, 111, 175, 1);
        }
    }

}
@media (min-width: 1024px) {
  .signUp {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
  }

  .form {
    width: 50%;
    gap: 60px;
  }

  .form h1 {
    font-size: 50px;

  }

  .forgotPassword {
    justify-content: flex-end;
  }

  .forgotPasswordLink {
    font-size: 18px;
    justify-content: flex-end;
    align-items: center;
  }

  .rememberMeContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .rememberMeTitle {
    font-size: 20px;
  }

  .submitButtonAndLoginLink {
    flex-direction: column;
    gap: 10px;
  }

  .loginLinkContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .loginLinkContainer span,
  .loginLink {
    font-size: 18px;
    line-height: 20px;
    text-align: left;
  }
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .signUp {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 100vh;
  }

  .form {
    width: 50%;
    
  }

  .form h1 {
    font-size: 40px;
    line-height: 56px;
    text-align: left;
  }

  .forgotPassword {
    justify-content: flex-end;
  }

  .forgotPasswordLink {
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
  }

  .rememberMeContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .rememberMeTitle {
    font-size: 14px;
  }

  .submitButtonAndLoginLink {
    flex-direction: column;
    gap: 10px;
  }

  .loginLinkContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .loginLinkContainer span,
  .loginLink {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
}
  @media only screen and (max-width: 767px) and (min-width: 480px) {
    .signUp {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .form {
    width: 50%;
    gap: 60px;
  }

  .form h1 {
    font-size: 40px;
    line-height: 56px;
    text-align: left;
  }

  .forgotPassword {
    justify-content: flex-end;
  }

  .forgotPasswordLink {
    font-size: 14px;
    justify-content: flex-end;
    align-items: center;
  }

  .rememberMeContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .rememberMeTitle {
    font-size: 14px;
  }

  .submitButtonAndLoginLink {
    flex-direction: column;
    gap: 10px;
  }

  .loginLinkContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .loginLinkContainer span,
  .loginLink {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  }
  @media  (max-width: 480px){
     .signUp {
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
  }

  .form {
    width: 50%;
    gap: 40px;
  }

  .form h1 {
    font-size: 35px;
    line-height: 50px;
    text-align: left;
  }

  .forgotPassword {
    justify-content: flex-end;
  }

  .forgotPasswordLink {
    font-size: 12px;
    justify-content: flex-end;
    align-items: center;
  }

  .rememberMeContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .rememberMeTitle {
    font-size: 10px;
  }

  .submitButtonAndLoginLink {
    flex-direction: column;
    gap: 10px;
  }

  .loginLinkContainer {
    justify-content: flex-start;
    gap: 10px;
  }

  .loginLinkContainer span,
  .loginLink {
    font-size: 10px;
    line-height: 14px;
    text-align: left;
  }
  }