:root {
    --fontColor: rgba(255, 255, 255, 1);
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../assets/images/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
  align-items: center;
  gap: 20px;
    position: relative;
    z-index: 0;
<<<<<<< HEAD
   
=======

>>>>>>> fix-from-main
    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        top: 0;
        left: 0;
<<<<<<< HEAD
        z-index: 0;
=======
        z-index: -1222;
>>>>>>> fix-from-main
    }

    .titleContainer {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        position: relative;
        z-index: 1; */


        .title {
            margin-top: 120px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            text-align: center;
            position: relative;
            z-index: 1;

            h1 {
                font-size: 46px;
                font-weight: 700;
                line-height: 56px;
                color: var(--fontColor);
                margin: 0;
                position: relative;
                z-index: 1;



            }

            p {
                font-size: 30px;
                font-weight: 400;
                line-height: 36px;
                color: var(--fontColor);
                margin: 0;
                text-align: center;
                position: relative;
                z-index: 1;

            }

        }
    }




}



@media (min-width: 1024px) {
    .container {
        .title {
            h1 {
                font-size: 46px;
                line-height: 56px;
            }

            p {
                font-size: 30px;
                line-height: 36px;
            }


        }

    }
}

/* 768px – 1023px (tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 270px;

        .title {
            h1 {
                font-size: 30px;
                line-height: 40px;
            }

            p {
                font-size: 25px;
                line-height: 30px;
            }
        }

    }
}

/* 480px – 767px (böyük mobil) */
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 150px;

        .title {
            h1 {
                font-size: 25px;
                line-height: 28px;
            }

            p {
                font-size: 20px;
                line-height: 22px;
            }
        }


    }
}



/* 480px və aşağı (kiçik mobil) */
@media (max-width: 479px) {
    .container {
        max-height: 378px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;

        .title {
            h1 {
                font-size: 16px;
                font-weight: 700;
                line-height: 24px;

            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;

            }
        }

    }
}