.container {
  width: 100%;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 20px 15px 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: #fbf9f7;
}



@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    align-items: center;
    border: 1px solid blue;
  }
}

@media (max-width: 640px) {
  .container {
    flex-wrap: nowrap;
  }
}

.userCard {
  display: flex;
  flex-direction: column;
  
}

.profileImage {
  display: flex;
  flex-direction: row;
  position: relative;
  z-index: 2;
  justify-content:start;
  align-items: start;
}

/* .profileImage button {
  display: block;
} */
.arrow {
  position: relative;
  cursor: pointer;
}

.userImg {
  width: 200px;
  height: 200px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 5px;
}

.profileContent {
  width: 322px;
  position: relative;
  top: -70px;
  z-index: 1;
  padding: 105px 46px 30px 46px;
  background-color: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 5px 6px 20px rgba(0, 0, 0, 0.12), 1px 2px 6px rgba(0, 0, 0, 0.08);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
}

.titleCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.title {
  color: #566faf;
}

.description {
  color: #666;
  line-height: 1.6;
  letter-spacing: 0.5px;
}

.box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 38px 0 20px 0;
}

@media (max-width: 1240px) {
  .box {
    padding-top: 0;
    align-items: space-between;
  }
}

@media (max-width: 1000px) {
  .box {
    align-items: center;
  }
}

@media (max-width: 640px) {
  .box {
    padding-top: 0;
  }
}


.myTrainings {
  display: flex;
  row-gap: 1.5rem;
  flex-direction: column;
  font-weight: bold;
}

@media (max-width: 768px) {
  .myTrainings {
    align-items: center;
  }
}

.category {
  width: 370px;
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.category li a {
  color: #000000de;
  box-sizing: border-box;
  font-weight: bold;
}

.category li a::after {
  content: "";
  display: flex;
  flex-direction: column;
  background-color: #dedede;
  width: 90px;
  height: 3px;
}

.category li a:active {
  color: #2c4b9b;
  font-weight: bold;
}

.category li a:active::after {
  background-color: #2C4B9B;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: flex-start;
  align-items: center;
}



.card {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  top: 175px;
  box-shadow: 4px 4px 12px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #dedede;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  border-width: 1.5px;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.embla {
  overflow: hidden;
}

.emblaContainer {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  padding-top: 10px;
  justify-content: flex-start;
  align-items: center;
}

.emblaSlide {
  flex: 0 0 48%;
  min-width: 0;
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
  position: relative;
  box-shadow: 4px 4px 12px 5px rgba(0, 0, 0, 0.05);
  border: 1px solid #dedede;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  border-width: 1.5px;
  box-sizing: border-box;
}


@media (max-width: 768px) {
  .emblaContainer {
    flex-direction: column;
  }

}



@media (max-width: 1200px) {
  .cardContainer {
    flex-wrap: wrap;
    margin: 0 auto;
    border: 1px solid red;
  }

}

@media (max-width: 1000px) {

  .cardContainer {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

}

.lastBox {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 2rem;
  justify-content: flex-start;
}

.lastBox h2 {
  font-weight: bold;
  color: #2C4B9B;
  display: flex;
  flex-direction: column;

}

@media (max-width: 1000px) {
  .lastBox h2 {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .lastBox h2 {
    text-align: center;

  }
}


.lastBox h2::after {
  content: "";
  height: 2px;
  width: 84px;
  background-color: #2C4B9B;
}


.imgCertificateBox {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  justify-content: space-around;
  overflow-x: auto;
}

.imgCertificateBox img {
  min-width: 495px;
  min-height: 366px;
  border: 2px solid #dedede;
  border-top-left-radius: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 10px;
  border-width: 1.5px;
  box-shadow: 4px 4px 12px 5px rgba(0, 0, 0, 0.05);
}




@media (max-width: 1000px) {
  .imgCertificateBox {
    flex-direction: column;
  }

  .imgCertificateBox img {
    width: 350px;
    height: 350px;
  }
}

@media(max-width: 740px) {
  .imgCertificateBox {
    align-items: center;
  }
}

@media (max-width: 640px) {

  .imgCertificateBox img {
    width: 250px;
    height: 250px;
  }
}

.editSection {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.editSection h2 {
  text-align: center;
  color: #000000DE;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

input {
  gap: 8px;
  border: 1px solid #B0B0B0;
  outline: none;
  border-radius: 30px;
  padding: 12px 16px;
}

input:hover {

  border: 1px solid #3f51b5;
  box-shadow: -1px 0px 6px 2px rgba(44, 75, 155, 0.35);
  -webkit-box-shadow: -1px 0px 6px 2px rgba(44, 75, 155, 0.35);
  -moz-box-shadow: -1px 0px 6px 2px rgba(44, 75, 155, 0.35);

}

input {
  border: 1px solid #B0B0B0;
  color: #B0B0B0;
}

textarea {
  height: 306px;
  color: #00000099;
  border-width: 1px;
  border-radius: 30px;
  text-align: center;
  font-family: Corbel;
  font-weight: 400;
  font-size: 16px;
  padding: 23px 57px;
  border: 1px solid #ccc;
  overflow: hidden;
}


.editPhotoSection {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* gap: 2rem; */
}


/* .editPhotoSection img {
  width: 373;
  height: 392;
  border-radius: 30px;
} */

.editPhotoSection button {
  gap: 8px;
  border-radius: 30px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  background-color: #2C4B9B;
}