.ScrumContainer {
    margin: 32px auto 0 auto;
    font-family: 'Corbel', sans-serif;
    width: 100%;

    h2 {
        font-size: 38px;
        font-weight: 700;
        line-height: 68px;
        color: rgba(0, 0, 0, 0.87);
    }
}