.ScrumContainer {
          max-width: 1200px;
          margin: 90px auto 0 auto;
          padding: 0 10px;
          font-family: 'Corbel', sans-serif;

          h2 {
                    font-size: 38px;
                    font-weight: 700;
                    line-height: 68px;
                    margin-bottom: 15px;
                    color: rgba(0, 0, 0, 0.87);
          }
}