.button {
  width: 163px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  margin-top: 130px;
  color: var(--white-high);
  border: none;
  outline: none;
  box-shadow: 0px 0px 15px 0px rgba(0, 16, 135, 0.2);
  background-color: transparent;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;

  &::before {
    content: "";
    position: absolute;
    top: center;
    left: center;
    width: 163px;
    height: 163px;
    background: linear-gradient(90deg, #1a2893, #4f1ba1);
    z-index: -1;
    border-radius: 50%;
  }

  &:hover::before {
    transform: rotate(360deg);
    animation: spin 0.5s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}