@import "tailwindcss";
@import url('./assets/styles/stylesheet.css');

:root {
  --text-color: #122041;
}

* {
  text-decoration: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: "Corbel";
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.slick-prev,
.slick-next {
  z-index: 2;
}

.exp-slider .slick-track {
  display: flex !important;
  gap: 20px !important;
}

@media (max-width: 768px) {
  .exp-slider .slick-track {
    gap: 0 !important;
  }
}

.sliderPersonalCab .slick-active {
  width: unset !important;
}

.sliderPersonalCab .slick-track {
  /* flex-wrap: nowrap; */
  /* height: 541px !important; */
  left: -24px;

  .slick-active {
    margin: 0 24px;
  }
}
