@import "tailwindcss";

:root {
  --text-color: #122041;
}

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

.slick-prev:before,
.slick-next:before {
  display: none !important;
}

.slick-prev,
.slick-next {
  z-index: 2;
}
<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;

}
=======

.slick-track {
  display: flex !important;
  gap: 20px !important;
}

@media (max-width: 768px) {
  .slick-track {
    gap: 0 !important;
  }
}
>>>>>>> fix-from-main
