.footer {
  width: 100%;
  max-height: 400px;
  background-color: #1C1C1C !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;



  .container {
    width: 98%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }

  .section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .logo {
    min-width: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    max-height: 56px;

    span {
      font-family: "Raleway";
      font-weight: 800;
      font-size: 24px;
      color:  #fff;
      line-height: 35px;
    }
  }

  .subscribeContainer {
    display: flex;
    flex-direction: column;
    height: 80px;

    .subscribe {
      font-family: "Corbel";
      font-size: 16px;
      color:  #fff;
      margin-bottom: 2px;

      span {
        font-family: "Corbel";
        font-weight: 400;
        font-size: 16px;
        color: var(--white-high);
        margin-right: auto;
      }

      .input {
        width: 316px;
        height: 48px;
        border-radius: 24px;
        border: 1px solid #fff;
        background: #fff;
        display: flex;
        align-items: center;
        padding: 2px 6px;
        gap: 6px;

        .sendInput {
          width: 58%;
          font-size: 14px;
          color: #1C1C1C;
          border: none;
          outline: none;
          padding-left: 8px;
          background: transparent;
         
        }
        .sendInput::placeholder{
          font-family: 'corbel';
        }
      }
    }

    .sendBtn {
      width: 122px;
      height: 40px;
      border-radius:24px;
      border: none;
      background: #2C4B9B;
      color:  #fff;
      font-size: 12px;
      font-family: "Lexend";
      cursor: pointer;
      transition: background 0.2s;
    }

    .invalid {
      border: 1px solid #e70303 !important;
      box-shadow: 0px 0px 10px 0px #f2131333;
    }

    .errorText {
      display: block;
      font-family: "corbel";
      margin-right: auto;
      font-weight: 300;
      font-size: 12px;
      color: #ec3535;
    }
  }


  .navmenu {
    min-width: 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: flex-start;

    li {
      a {
        font-family: "Corbel";
        font-size: 24px;
        color:  #fff;
        text-decoration: none;
        transition: color 0.2s;
      }
    }
  }

  .socials {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    span {
      font-family: "Corbel";
      font-size: 13px;
      color:  #fff;
    }
  }

  .socialIcons {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: flex-start;

    li {
      .link {
        .socialIcon {
          width: 36px;
          height: 36px;
          transition: filter 0.2s, transform 0.2s;
        }
      }
    }
  }

  .bottomLine {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    gap: 8px;

    li {
      padding: 0 25px;
      opacity: 0.7;
      border-right: 1px solid #A4A4A4;
      list-style: none;

      a,
      span {
        font-family: "Corbel";
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        color: #A4A4A4;
      }

      &:first-child {
        border-right: 1px solid #fff
      }

      &:last-child {
        border-right: none;
      }
    }
  }
}

@media (min-width: 1240px) {
  .footer {
    min-height: 450px;
    padding-top: 51px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 0;
  }

  .container {

    height: auto;
    margin: 0 auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }

  .section {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    max-height: 76px;

    span {
      font-family: "Raleway";
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      color: var(--white-high);
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    span {
      font-weight: 400;
      font-size: 16px;
      margin-right: auto;
    }


  }

  .sendBtn {
    width: 122px;
    height: 40px;
  }

  .errorText {
    font-size: 14px;
  }

  .bottomLine {
    li {

      a,
      span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    height: 300px;

    .container {
      padding: 5px 22px;
    }

    .section {
      gap: 8px;

      .navmenu {
        gap: 2px;
      }


      .logo span {
        font-size: 16px;
      }

      .subscribeContainer {

        span {
          font-size: 14px;
        }

        .input {
          width: 270px;
          height: 45px;
          border-radius: 24px;
          border: 1px solid #fff;
          background: #fff;
          display: flex;
          align-items: center;
          padding: 2px 6px;
          gap: 6px;

          .sendInput {
            width: 58%;
            font-size: 14px;
            border: none;
            outline: none;
            padding-left: 8px;
            background: transparent;
          }

          .sendBtn {
            width: 130px;
            height: 40px;
            font-size: 9px;

          }
        }
      }

      .navmenu {
        li {
          a {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      .socials {
        width: 270px;

        span {
          font-size: 12px;
        }

        .socialIcons {
          gap: 10px;

          .socialIcon {
            width: 25px;
            height: 27px;


          }
        }

      }
    }

    .bottomLine {
      height: 20px;

      li {
        a {
          font-size: 12px;
        }

        span {
          font-size: 12px;
        }
      }

    }

  }
}

@media (max-width: 600px) {
  .container {
    padding: 0px 8px;
    gap: 4px;

    .section {
      gap: 2px;

      .navmenu {
        gap: 1px;

        li {
          a {
            font-size: 12px;
            line-height: 20px;
          }

        }
      }

      .logo span {
        font-size: 14px;
      }

      .subscribe {
        span {
          font-size: 11px;
        }

        .input {
          width: 190px;
          height: 35px;
          padding: 1px 2px;

          .sendInput {
            width: 58%;
            font-size: 14px;
          }

          .sendBtn {
            width: 70px;
            height: 30px;
            font-size: 7px;
          }
        }
      }

      .socials {
        width: 180px;

        span {
          font-size: 12px;
        }

        .socialIcons {
          .link {
            .socialIcon {
              width: 18px;
              height: 18px;
            }
          }
        }
      }
    }

    .bottomLine {
      li {

        a {
          padding: 0 5px;
          font-size: 6px;
          line-height: 16px;
        }

        span {
          font-size: 6px;
        }

      }
    }


  }
}

@media (max-width:480px) {
  .footer {
    max-height: 160px;

    .container {
      height: 100%;
      margin: 5px auto;
      padding: 0px 15px;
      gap: 2px;

      .section {
        height: 50px;
        display: flex;
        align-items: flex-start;
        

        .logo {
          img {
            width: 19px;
            height: 22px;
          }

          span {
            font-size: 11px;
          }
        }

        .subscribeContainer {
          .subscribe {
            span {
              font-size: 6px;
            }

            .input {
              width: 115px;
              height: 20px;

              .sendInput {
                width: 58%;
                font-size: 8px;
              }

              .sendInput::placeholder {
                font-size: 8px;
                padding: 5px;
              }

              .sendBtn {

                width: 55px;
                height: 16px;
                font-size: 7px;
              } 
            }

          }

          .errorContainer {
            .errorText {
              font-size: 6px;
              line-height: 10px;
            }
          }
        }

        .navmenu {
          max-height: 45px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 3px;

          li {
            height: 13px;

            a {
              font-size: 12px;
              font-weight: 400;
              line-height: 9px;
            }
          }
        }

        .socials {
          width: 110px;

          span {
            font-size: 8px;
            line-height: 18px;
          }

          .link {

            .socialIcon {
              width: 14px;
              height: 14px;
            }
          }

        }

      }
    }

    .bottomLine {
      padding-bottom: 10px;
      height: 16px;

      li {
        height: 10px;
        display: flex;
        justify-content: center;

        a {
       
          font-size: 6px;
          line-height: 10px;

        }

        span {
          font-size: 6px;
          line-height: 10px;
        }

      }
    }
  }
}